body {
  margin: 0;
  width: 1820px;

  font-family: "Montserrat", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: black;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.container {
  width: 1800px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  min-height: 900px;

  background-image: url("../img/header-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.header-top {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  min-height: 75px;
  background-color: rgba(26, 36, 49, 0.75);
  border-bottom: 1px solid #4c535d;
}

.header-top a{
  display: inline-block;

  font-family: "Montserrat", Arial, sans-serif;
  font-size: 13px;
  line-height: 25.6px;
  color: #ffffff;
  text-transform: uppercase;

  text-align: center;
  vertical-align: center;
}

.header-menu,
.header-social {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.header-top .customer-button {
  padding-top: 26px;
  padding-left: 19px;
  padding-right: 25px;
  padding-bottom: 0px;
  border-right: 1px solid #4c535d;
}

.header-top .logo {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 33.27px;
  font-weight: 900;
  line-height: 65.66px;
  letter-spacing: -3px;

  padding-top: 4px;
  padding-left: 20px;
  padding-right: 29px;
  padding-bottom: 0px;
  border-right: 1px solid #4c535d;

  margin: 0;
}

.header-top .header-menu {
  justify-content: space-around;
  align-content: center;

  margin: 0;
  padding-left: 40px;
  padding-right: 522px;
  padding-top: 6px;

  font-family: "Montserrat", Arial,sans-serif;
  font-size: 13px;
  line-height: 25px;
  font-weight: 600;

  border-right: 1px solid #4c535d;
}

.header-menu li {
  padding-right: 35px;
}

.header-top .header-social {
  padding-top: 14px;
  padding-left: 30px;
  padding-bottom: 0px;
  padding-right: 7px;

  margin: 0;

  border-right: 1px solid #4c535d;
}

.header-social li a{
  width: 30px;
  height: 30px;

  padding-right: 35px;
  padding-top: 12px;
}

.header-top .basket {
  padding-top: 24px;
  padding-left: 21px;
  padding-right: 29px;
  padding-bottom: 0px;
  border-right: 1px solid #4c535d;
}

.header-top .search-button {
  padding-top: 24px;
  padding-left: 19px;
  padding-right: 25px;
  padding-bottom: 0px;
  border-right: 1px solid #4c535d;
}

.main-header p{
  margin: 0;
  margin-top: 10px;
  margin-left: 10px;
  width: 705px;
}

.promo-name {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 700;
  font-size: 203.66px;
  line-height: 147.24px;
  letter-spacing: -3px;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
